@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    /* color: white; */
}

:root {
    --black : #000;
    --mid : #6e6e6e;
    --dark : #464646;
    --blackamber:#0b0a0d;
    --grayblue: #202a2d;
    --pink : #fca2ff;
    --blue : #93eff3;
    --light : #dcdcdc;

    --s : 111px;
    --w : 660px;
    --a : 25%;
    --b: 75%;
    --c : 25%;
    --gameQ-width:50%;

}
body {
    width: 100%;
    padding-bottom: 2rem;
}
.debugA { border: 2px solid red;}
.debugB { border: 2px solid green;}
.debugC { border: 2px solid blue;}
.debugD { border: 2px solid pink;}
.debugE { background-color: red;}
.debugF { background-color: green;}
.debugG { background-color: blue;}

.max-height { height: 100vh; }
.center { margin: auto;}
.wide { width: 100%; }
.tall { height: 100%; }
.min-height { height: min-content; }
.ideal-size {
    width: min(660px, 90%);
    height: 100%;
    max-width: 75vh;
    min-width: 350px;
    min-height: 550px;
}
.relative{ position: relative; }
.rad-grad{ background: radial-gradient(circle, var(--dark) 15%,var(--black) 90%); }
.absolute{ position: absolute; }
.behind{ z-index: -1; }
.grow{ flex-grow: 1; }
.tray-height{ height: min(80%, 400px); }

.stacker-tray{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: min(90%, 1200px);
    gap: 1rem;
}
.stacker-tray>*:nth-child(2) {
        order: 3;
        /* background-color: red; */
    }
.game-size {
    aspect-ratio: 1;
    width: 100%;
}
.comp-size {
    aspect-ratio: 1;
    /* background-color: red; */
    aspect-ratio: 1;
    width: 40%;
}
.marg-top{ margin-top: 2rem; }
.pad-top{ padding-top: 2rem; }
.pad-bot{ padding-bottom: 2rem; }
.pad-sides{
    padding-left: 1rem;
    padding-right: 1rem;
}
.flex{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    /* align-items: stretch; */
}
.flex-v-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-v-center-align{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.flex-v-bot{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.flex-h-center{
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: max(2rem, 30%); */
}
.flex-h-end{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.button-tray{
    width: min(90%, 400px);
    /* margin-top: 2rem; */
    height: 4rem;
    /* justify-content: space-between; */
}
button{
    cursor: pointer;
}
.abs-center {
    z-index: 1;
    position: absolute;
    top: 0%;
    left: 0%;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
button.pill {
    font-weight: 400;
    color: var(--light);
    white-space: nowrap;
    background-color: transparent;
    border: 1px solid var(--light);
    border-radius: 100px;
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.glow-pink{
    filter: drop-shadow( 0px 0px 5px var(--pink) );
    transition: filter 0.2s;
    transition-timing-function: ease-out;
}

button.text {
    font-weight: 400;
    color: var(--light);
    border: none;
    font-size: 2.5rem;
    background-color: transparent;
}

button.pill:hover {
    font-weight: 600;
    border: 2px solid white;
    color: white;
    .glow-pink{
        filter: drop-shadow( 0px 0px 10px var(--blue) );
    }

}
button.text:hover {
    font-weight: 600;
    font-size: 2.6rem;
    color: white;
    .glow-pink{
        filter: drop-shadow( 0px 0px 10px var(--blue) );
    }
}
.piece-tray{
    padding-left: 1rem;
    /* height: 100%; */
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(3, auto);
    gap: 1rem;
    /* row-gap: 1rem; */
}
.status-tray{
    display: grid;
    grid-template-columns: repeat(2, 25px);
    grid-template-rows: repeat(10, auto);
    row-gap: 0.2rem;
}

#block-5{
    background-color: #93eff3;
    grid-column: 1 / span 5;
    height: 100%;
}

#block-4{
    background-color: #fca2ff;
    grid-row: 2;
    grid-column: 1 / span 4;
}
#block-2{
    background-color: #dcdcdc;
    grid-row: 2;
    grid-column: 5 / span 2;
}
#block-3a{
    background-color: #dcdcdc;
    grid-row: 3;
    grid-column: 1 / span 3;
}
#block-3b{
    background-color: #dcdcdc;
    grid-row: 3;
    grid-column: 4 / span 3;
}

#status-5{
    background-color: #93eff3;
    grid-column: 2;
    grid-row: 6 / span 5;
    height: 100%;
}
#status-4{
    background-color: #fca2ff;
    grid-row: 1 / span 4;
    grid-column: 2;
}
#status-2{
    background-color: #dcdcdc;
    grid-row: 1 / span 2;
    grid-column: 1;
}
#status-3a{
    background-color: #dcdcdc;
    grid-row: 4 / span 3;
    grid-column: 1;
}
#status-3b{
    background-color: #dcdcdc;
    grid-row: 8 / span 3;
    grid-column: 1;
}

.block{
    border: 2px solid var(--black);
}
.graph-paper {
    background-image: linear-gradient(to right, var(--pink), var(--blue));
    mask:
        linear-gradient(to right, white 2px, transparent 2px),
        linear-gradient(to bottom, white 2px, transparent 2px);
    mask-size: calc(100%/6 + 1px) calc(100% / 6 + 1px);
    mask-position: -2px -2px;
    mask-repeat:repeat;
    background-blend-mode:multiply;
    border-radius: 30px;
}
.box{
    border-radius: 30px;
    aspect-ratio: 1;
    width: 100%;
    height: auto;
    outline: 2px solid var(--pink);
    overflow: hidden;
    background-image: linear-gradient(to bottom, var(--blackamber), var(--grayblue));

    /* background-color: var(--black); */
}
.glow{
    /* filter: drop-shadow( 0px 0px 15px var(--light) ); */
    box-shadow: 0px 0px 40px 15px var(--dark);
}
.shadow{
    filter: drop-shadow( 0px 0px 10px var(--black) ) drop-shadow( 0px 0px 20px var(--black) );
}
.logo-sm {
    width: min(98vw, 700px);
}
.min-width { width: fit-content; }

.persepective{
    perspective: 1000px;
}
/* .three-dee{ */
    /* position: relative; */
    /* transform-style: preserve-3d; */
    /* transform: rotateX(15deg); */
    /* transform: rotate( 45deg 15deg 45deg ); */
    /* transform: rotate3d( 1, 2, 0, 45deg ); */

/* } */


@media screen and ( width <= 1200px ) {
    .tray-width{ width: min(80%, 400px); }
    .tray-height{ height: min-content; }
    .stacker-tray {
        flex-direction: column;
        justify-content: flex-start;
    }
    .stacker-tray>*:nth-child(2) {
        /* background-color: blueviolet; */
        order: 0;
    }
    .game-size {
        aspect-ratio: 1;
        height: 60%;
        max-width: 100%;
        width: auto;
    }
    .graph-paper{
        border-radius: 10px;
    }
    .box{
        border-radius: 10px;
    }
    .status-tray{
        display: grid;
        grid-template-columns: repeat(10, auto);
        grid-template-rows: repeat(2, 25px);
        row-gap: 0.2rem;
    }
    #status-5{
        background-color: #93eff3;
        grid-row: 2;
        grid-column: 1 / span 5;
        height: 100%;
    }
    #status-4{
        background-color: #fca2ff;
        grid-row: 2;
        grid-column: 7 / span 4
    }
    #status-2{
        background-color: #dcdcdc;
        grid-row: 1;
        grid-column: 9 / span 2
    }
    #status-3a{
        background-color: #dcdcdc;
        grid-row: 1;
        grid-column: 1 / span 3
    }
    #status-3b{
        background-color: #dcdcdc;
        grid-row: 1;
        grid-column: 5 / span 3
    }
}

@media screen and ( width <= 350px ) {
    .ideal-size{
        background-color: red;
    }
}

@media screen and ( height <= 550px ) {
    .ideal-size{
        background-color: red;
    }
}